/steam_path.txt

# Addon packs, 3rd party maps
*.vpk

# Server logs
*.log

# RCON password
cfg/rconps.cfg

# Compiled plugins (but unused)
addons/sourcemod/scripting/compiled/

addons/sourcemod/data/sqlite/clientprefs-sqlite.sq3

addons/readme.txt
addons/sourcemod/configs/advertisements.txt
addons/sourcemod/configs/hostname/
